

/******MAIN******/
/*Img_fondo*/
.main{
    background: url('../image/day_sun.jpg') no-repeat;
    background-size: 100% 100% !important;
    
}
.container6{
    background: url('../image/gifsun.gif') no-repeat !important;
    background-position: center;
    background-size: 100% 100%!important;
    -moz-background-size: 100% 100%!important;
    -webkit-background-size: 100% 100%!important;
    -o-background-size: 100% 100%!important;
    /*animation: rotation 21s;  */
    
}
.x-panel-header-title-default {
    color: #464b57;
    font-size: 20px;
    font-family:'Lucida Sans Unicode';
    line-height: 20px;
    margin: 5px 5px 5px 5px;
}
.login_container5{
background-color: #18294e;
color: #18294e;
}

.my_form{
    /*margin: 50x 80px 70px 100px !important;*/
    display: block;  

}
.tittle{
    /*padding:30px 30px 5px;*/
    font-size: 48px;
    color:#a25336;
    background: none; 
    -moz-text-size-adjust: 100%;
    text-transform:uppercase;/*mayuscula*/
    transition:all 3s ease-in;/*movimiento*/
    line-height: 41.8px;
    cursor: default;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
    font-stretch: expanded;
    
}

/*btn_register_entrar*/

/*.pnl_login{
    position: relative;
    background: #e1e45bc0 !important;
    background-color: #e1e45bc0 !important;
    color: #e1e45bc0 !important;
    max-width: 320px;
    width: 100%;
    border-top: 5px solid #e53360;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;  
}*/
.button{
    font-size:13px !important;
    font-family: "Roboto", helvetica, arial, sans-serif !important;
    background-position: center !important;
    background-color:rgba(60,72,72,0.4);
    border-color: rgb(97, 212, 225);
}

/******VTN_REGISTER******/

  .vtn_register_boby{
      background-color: rgb(183, 209, 223);
      border-color: #c4640b;
      border-width: 15px;
  }
  .img_fondo{
    background: url('../image/sunFondo.png') no-repeat;
    background-size: 100% 100% !important;
    
    
    
  }




@keyframes rotation{
0%{transform: rotate(60deg) }
100%{transform: rotate(360deg)}
}

    

